In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Combining results from feature selection

## Boruta original
These are the variables with **strong** support when running `perc = 90%`, `lags = 5`, `iterations = 250`

DGS10_Lag: ['5']

BAMLC0A4CBBB_Lag: ['5']

BAMLC0A1CAAA_Lag: ['5', '4', '3', '2', '1']

BAMLC0A1CAAAEY_Lag: ['5', '3']

BAMLC0A0CM_Lag: ['5']

T10YIE_Lag: ['5']

DCOILWTICO_R_Lag: ['5']

ST_Rev_Lag: ['5', '2', '1']

RSI_5_Lag: ['5']

BOLUP_10_Lag: ['5', '3', '1']

USEPUINDXD_Lag: ['4', '3', '2']

VIX_Lag: ['3', '2', '1']

BAA10Y_Lag: ['3']

BOLUP_5_Lag: ['3', '2', '1']

ADX_10_Lag: ['3']

BAMLC0A4CBBBEY_Lag: ['2']

BAMLC0A0CMEY_Lag: ['2', '1']

EFFR_Lag: ['2', '1']

Mkt-RF_Lag: ['2']

Bearish_Lag: ['2']

MOM_10_Lag: ['2', '1']

DFII10_Lag: ['1']

MA_5_Lag: ['1']

EMA_5_Lag: ['1']

EMA_10_Lag: ['1']

RSI_10_Lag: ['1']

BOLDOWN_5_Lag: ['1']

## Boruta new

In [4]:
feats = pd.read_csv("../data/boruta_results.csv", index_col=[0], header=[0,1])

## Inspect differences in strong support

In [11]:
strong = feats.xs("Strong", level="results", axis=1).copy()

In [35]:
m2 = strong.notna().all(axis=0)

In [62]:
strong_mask = strong.apply(lambda x: len(x.value_counts(dropna=False)) != 1, axis=0)
strong[strong.columns[strong_mask]]

feature BAMLC0A1CAAAEY BAMLC0A0CMEY  DFII5  EMA_5 MOM_10 BOLUP_5  ADX_5 ADX_10
Folds
1                  NaN          NaN    NaN  ['1']  ['1']     NaN  ['3']  ['3']
2                ['3']          NaN  ['1']  ['1']    NaN   ['1']    NaN    NaN
3                  NaN          NaN  ['1']  ['1']    NaN   ['1']  ['3']  ['3']
4                  NaN        ['1']    NaN    NaN    NaN     NaN  ['3']  ['3']
5                  NaN          NaN    NaN    NaN    NaN     NaN    NaN  ['3']

In [63]:
bs = set(boruta_features)
aa = set(strong.columns[strong_mask])

In [36]:
cc = set(strong.columns[m2])

In [29]:
bs.intersection(aa)

{'ADX_10', 'BAMLC0A0CMEY', 'BAMLC0A1CAAAEY', 'BOLUP_5', 'EMA_5', 'MOM_10'}

In [37]:
bs.intersection(cc)

{'BAA10Y',
 'BAMLC0A0CM',
 'BAMLC0A1CAAA',
 'BAMLC0A4CBBB',
 'BAMLC0A4CBBBEY',
 'BOLDOWN_5',
 'Bearish',
 'DCOILWTICO_R',
 'DFII10',
 'DGS10',
 'EMA_10',
 'Mkt-RF',
 'RSI_10',
 'RSI_5',
 'ST_Rev',
 'T10YIE',
 'USEPUINDXD',
 'VIX'}

In [38]:
bs.difference(cc)

{'ADX_10',
 'BAMLC0A0CMEY',
 'BAMLC0A1CAAAEY',
 'BOLUP_10',
 'BOLUP_5',
 'EFFR',
 'EMA_5',
 'MA_5',
 'MOM_10'}

## Inspect differences in weak support

In [47]:
weak = feats.xs("Weak", level="results", axis=1).copy()

In [48]:
m2 = strong.notna().all(axis=0)

In [50]:
mask = weak.apply(lambda x: len(x.value_counts(dropna=False)) != 1, axis=0)
weak[weak.columns[mask]]

feature  DFII5 Gold_R  EMA_5 EMA_10 MOM_10 BOLUP_5  ADX_5 ADX_10
Folds
1          NaN    NaN  ['2']  ['5']  ['2']     NaN    NaN    NaN
2        ['5']  ['3']  ['2']    NaN    NaN   ['4']  ['3']  ['3']
3        ['5']  ['3']  ['2']  ['5']    NaN   ['4']    NaN    NaN
4          NaN  ['3']    NaN  ['5']    NaN     NaN    NaN    NaN
5          NaN  ['3']    NaN    NaN    NaN     NaN  ['3']    NaN

In [52]:
bs = set(boruta_features)
aa = set(weak.columns[mask])

In [51]:
cc = set(weak.columns[m2])

In [54]:
bs.intersection(aa)

{'ADX_10', 'BOLUP_5', 'EMA_10', 'EMA_5', 'MOM_10'}

In [59]:
feats.loc[:, (weak.columns[mask], ("Strong","Weak"))]

feature  DFII5        Gold_R         EMA_5        EMA_10        MOM_10         \
results Strong   Weak Strong   Weak Strong   Weak Strong   Weak Strong   Weak
Folds
1          NaN    NaN    NaN    NaN  ['1']  ['2']  ['1']  ['5']  ['1']  ['2']
2        ['1']  ['5']    NaN  ['3']  ['1']  ['2']  ['1']    NaN    NaN    NaN
3        ['1']  ['5']    NaN  ['3']  ['1']  ['2']  ['1']  ['5']    NaN    NaN
4          NaN    NaN    NaN  ['3']    NaN    NaN  ['1']  ['5']    NaN    NaN
5          NaN    NaN    NaN  ['3']    NaN    NaN  ['1']    NaN    NaN    NaN

feature BOLUP_5         ADX_5        ADX_10
results  Strong   Weak Strong   Weak Strong   Weak
Folds
1           NaN    NaN  ['3']    NaN  ['3']    NaN
2         ['1']  ['4']    NaN  ['3']    NaN  ['3']
3         ['1']  ['4']  ['3']    NaN  ['3']    NaN
4           NaN    NaN  ['3']    NaN  ['3']    NaN
5           NaN    NaN    NaN  ['3']  ['3']    NaN

In [64]:
feats.loc[:, (strong.columns[strong_mask], ("Strong","Weak"))]

feature BAMLC0A1CAAAEY      BAMLC0A0CMEY       DFII5         EMA_5         \
results         Strong Weak       Strong Weak Strong   Weak Strong   Weak
Folds
1                  NaN  NaN          NaN  NaN    NaN    NaN  ['1']  ['2']
2                ['3']  NaN          NaN  NaN  ['1']  ['5']  ['1']  ['2']
3                  NaN  NaN          NaN  NaN  ['1']  ['5']  ['1']  ['2']
4                  NaN  NaN        ['1']  NaN    NaN    NaN    NaN    NaN
5                  NaN  NaN          NaN  NaN    NaN    NaN    NaN    NaN

feature MOM_10        BOLUP_5         ADX_5        ADX_10
results Strong   Weak  Strong   Weak Strong   Weak Strong   Weak
Folds
1        ['1']  ['2']     NaN    NaN  ['3']    NaN  ['3']    NaN
2          NaN    NaN   ['1']  ['4']    NaN  ['3']    NaN  ['3']
3          NaN    NaN   ['1']  ['4']  ['3']    NaN  ['3']    NaN
4          NaN    NaN     NaN    NaN  ['3']    NaN  ['3']    NaN
5          NaN    NaN     NaN    NaN    NaN  ['3']  ['3']    NaN

TODO:
* Add EMA_5 to final data, and use the columns above
* Save dataset
* Implement tuning for SARIMAX, one with refitting and one without (sliding/expanding window)
* Do grid search for sarima model
* Tune LSTM net with exogenous data
* Happy days

# Create dataset

## Filter

Create mask for all columns which doesn't have any NaN values for all folds. This entails features selected either with weak or strong support.
* Weak support means that the feature was tentative, ie neither confirmed nor denied at the final iteration of Boruta

In [122]:
m1 = feats.loc[:, (slice(None), "Strong")].notna().values
m2 = feats.loc[:, (slice(None), "Weak")].notna().values

Select all columns which were selected in three or more folds

In [134]:
t = (m1 | m2).sum(axis=0) >= 3
cols = feats.columns.get_level_values("feature").unique()[t]

In [135]:
with pd.option_context("display.max_rows", 85):
    display(feats.loc[:, (cols, ("Strong", "Weak"))].T)

Folds                       1      2      3      4      5
feature        results
VIX            Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
BAA10Y         Strong   ['3']  ['3']  ['3']  ['3']  ['3']
               Weak       NaN    NaN    NaN    NaN    NaN
DGS10          Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
USEPUINDXD     Strong   ['2']  ['2']  ['2']  ['2']  ['2']
               Weak       NaN    NaN    NaN    NaN    NaN
BAMLC0A4CBBB   Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
BAMLC0A1CAAA   Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
BAMLC0A4CBBBEY Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
BAMLC0A0CM     Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
DFII10         Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
T10YIE         Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
DCOILWTICO_R   Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
Mkt-RF         Strong   ['2']  ['2']  ['2']  ['2']  ['2']
               Weak       NaN    NaN    NaN    NaN    NaN
ST_Rev         Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
Gold_R         Strong     NaN    NaN    NaN    NaN    NaN
               Weak       NaN  ['3']  ['3']  ['3']  ['3']
Bearish        Strong   ['2']  ['2']  ['2']  ['2']  ['2']
               Weak       NaN    NaN    NaN    NaN    NaN
EMA_5          Strong   ['1']  ['1']  ['1']    NaN    NaN
               Weak     ['2']  ['2']  ['2']    NaN    NaN
EMA_10         Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak     ['5']    NaN  ['5']  ['5']    NaN
MOM_5          Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
RSI_5          Strong   ['5']  ['5']  ['5']  ['5']  ['5']
               Weak       NaN    NaN    NaN    NaN    NaN
RSI_10         Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
BOLDOWN_5      Strong   ['1']  ['1']  ['1']  ['1']  ['1']
               Weak       NaN    NaN    NaN    NaN    NaN
ADX_5          Strong   ['3']    NaN  ['3']  ['3']    NaN
               Weak       NaN  ['3']    NaN    NaN  ['3']
ADX_10         Strong   ['3']    NaN  ['3']  ['3']  ['3']
               Weak       NaN  ['3']    NaN    NaN    NaN

`GOLD_R` and `EMA_5` are not present in all folds, but they are present in 3 or more. Thus, they are added to the data

## Filter original data

In [137]:
raw_df = pd.read_csv("../data/dataset.csv", index_col=0, parse_dates=[0])
raw_df.head()

,VIX,T10Y3M,BAA10Y,DGS10,DCOILWTICO,DTWEXBGS,USEPUINDXD,WLEMUINDXD,BAMLC0A4CBBB,BAMLC0A1CAAA,...,MOM_5,MOM_10,RSI_5,RSI_10,BOLUP_5,BOLDOWN_5,BOLUP_10,BOLDOWN_10,ADX_5,ADX_10
2003-01-02,25.39,2.85,3.37,4.07,69.05,100.8803,324.67,188.18,2.67,1.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-03,24.68,2.83,3.39,4.05,70.34,100.4474,357.74,148.90,2.64,1.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-06,24.91,2.88,3.38,4.09,69.37,99.9413,166.02,295.76,2.61,0.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-07,25.13,2.85,3.39,4.04,68.28,100.3036,180.02,248.74,2.58,0.97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-01-08,25.53,2.81,3.35,4.00,67.74,100.1151,204.91,81.20,2.57,0.96,...,NaN,NaN,NaN,NaN,25.819722,24.436278,NaN,NaN,NaN,NaN

In [141]:
new_df = raw_df[raw_df.columns[raw_df.columns.isin(cols)]].copy()

Save to `csv`

In [148]:
new_df.to_csv("../data/feature_selected_data.csv")

To read:
```Python
pd.read_csv("../data/feature_selected_data.csv", index_col=0, parse_dates=[0])
```

## Elastic net

These are the coefficients when fitting elastic net on 70% of the first data with **parameters**

    alpha: 0.0001, l1_ratio: 0.9

The resulting **scores** were:
___
mse
0.0003992635
___
mae
0.013167706
___
mape
0.19080332
___
r2
0.8525073831083467
___

| Variable | Coefficient |
|----------|-------------|
T10Y3M_Lag_5|          0.004809
USEPUINDXD_Lag_5|     0.002553
DFII10_Lag_5|     0.006576
USEPUINDXD_Lag_4  |    0.015187
ADX_5_Lag_3        |  -0.002508
ADX_10_Lag_3        | -0.000707
WLEMUINDXD_Lag_2  |    0.004275
SMB_Lag_2 |            -0.005298
MOM_10_Lag_2    |      0.005568
RSI_5_Lag_2   |           0.001127
BOLUP_10_Lag_2      |  0.093326
VIX_Lag_1     |        0.710970
BAMLC0A1CAAA_Lag_1 |   0.005200
BAMLC0A0CM_Lag_1  |    0.021990
SMB_Lag_1      |      -0.010769
ST_Rev_Lag_1  |       -0.007789
Neutral_Lag_1   |     -0.000003
Bearish_Lag_1  |       0.000609
MA_5_Lag_1      |      0.045531
MA_10_Lag_1    |       0.024674
EMA_5_Lag_1    |       0.029454
RSI_5_Lag_1    |       0.007615
RSI_10_Lag_1    |      0.002764
BOLDOWN_5_Lag_1  |     0.005174

Without table

T10Y3M_Lag_5          0.004809
USEPUINDXD_Lag_5      0.002553
DFII10_Lag_5          0.006576
USEPUINDXD_Lag_4      0.015187
ADX_5_Lag_3          -0.002508
ADX_10_Lag_3         -0.000707
WLEMUINDXD_Lag_2      0.004275
SMB_Lag_2            -0.005298
MOM_10_Lag_2          0.005568
RSI_5_Lag_2           0.001127
BOLUP_10_Lag_2        0.093326
VIX_Lag_1             0.710970
BAMLC0A1CAAA_Lag_1    0.005200
BAMLC0A0CM_Lag_1      0.021990
SMB_Lag_1            -0.010769
ST_Rev_Lag_1         -0.007789
Neutral_Lag_1        -0.000003
Bearish_Lag_1         0.000609
MA_5_Lag_1            0.045531
MA_10_Lag_1           0.024674
EMA_5_Lag_1           0.029454
RSI_5_Lag_1           0.007615
RSI_10_Lag_1          0.002764
BOLDOWN_5_Lag_1       0.005174

# Combining features

Boruta

In [25]:
boruta_features = [
    "VIX",
    "DGS10", "BAMLC0A4CBBB", "BAMLC0A1CAAA", "BAMLC0A1CAAAEY",
    "BAMLC0A0CM", "T10YIE", "DCOILWTICO_R", "ST_Rev", 
    "RSI_5", "BOLUP_10", "USEPUINDXD", "BAA10Y", 
    "BOLUP_5", "ADX_10", "BAMLC0A4CBBBEY", "BAMLC0A0CMEY",
    "EFFR", "Mkt-RF", "Bearish", "MOM_10", "DFII10", 
    "MA_5", "EMA_5", "EMA_10", "RSI_10", "BOLDOWN_5"
]

Elastic net

In [2]:
elnet_features = [
    "VIX",
    "T10Y3M", "USEPUINDXD", "DFII10", "USEPUINDXD",
    "ADX_5", "ADX_10", "WLEMUINDXD", "SMB", "MOM_10",
    "RSI_5", "BOLUP_10", "BAMLC0A1CAAA",
    "BAMLC0A0CM", "SMB", "ST_Rev", "Neutral",
    "Bearish", "MA_5", "MA_10", "EMA_5", "RSI_5",
    "RSI_10", "BOLDOWN_5"
]

## Compare differences

Sort to get alphabetically

In [4]:
boruta_features.sort()
elnet_features.sort()

In [9]:
bor_set = set(boruta_features)
el_set = set(elnet_features)
diffs_bor = bor_set.difference(el_set)
diffs_el = el_set.difference(bor_set)
intersection = bor_set.intersection(el_set)

### Intersection of features

In [10]:
intersection

{'ADX_10',
 'BAMLC0A0CM',
 'BAMLC0A1CAAA',
 'BOLDOWN_5',
 'BOLUP_10',
 'Bearish',
 'DFII10',
 'EMA_5',
 'MA_5',
 'MOM_10',
 'RSI_10',
 'RSI_5',
 'ST_Rev',
 'USEPUINDXD',
 'VIX'}

### Features only in Boruta

In [7]:
diffs_bor

{'BAA10Y',
 'BAMLC0A0CMEY',
 'BAMLC0A1CAAAEY',
 'BAMLC0A4CBBB',
 'BAMLC0A4CBBBEY',
 'BOLUP_5',
 'DCOILWTICO_R',
 'DGS10',
 'EFFR',
 'EMA_10',
 'Mkt-RF',
 'T10YIE'}

### Features only in Elastic Net

In [8]:
diffs_el

{'ADX_5', 'MA_10', 'Neutral', 'SMB', 'T10Y3M', 'WLEMUINDXD'}